body {
	background-color: whitesmoke;
}

.nav-item {
	margin: 10px;
}

hr {
  border: 1px solid #ccc;
  margin-bottom: 25px;
}

.status-on-hold {
	color: limegreen;
	font-weight: bold;
}

.status-rejected {
	color: red;
}

.sortCardButtons {
	margin-bottom: 30px;
}

.wishlistForm {
	margin-top: 25px;
}

.show-comments {
	margin-top: 30px;
	margin-bottom: 30px;
}