<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="fragments :: header"></div>
<title>Books - All books</title>
</head>
<body>
	<div th:insert="fragments :: navbar"></div>
	<div class="container text-center">
		<div class="alert alert-success alert-dismissible fade show"
			role="alert" th:if="${successMessage!=null}">
			<strong th:text="${successMessage}"></strong>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div>
			<h1>All books</h1>
		</div>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1"><i
					class="fa fa-search"></i></span>
			</div>
			<input id="search" type="text" class="form-control"
				placeholder="Search..." aria-label="Search"
				aria-describedby="basic-addon1">
		</div>
		<div>
			<table class="table" id="tableSort">
				<thead>
					<tr>
						<th onclick="sortTable(0)">ISBN <i
							class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
						<th onclick="sortTable(1)">Name of book <i
							class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
						<th onclick="sortTable(2)">Printing House <i
							class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
						<th onclick="sortTable(3)">Author <i
							class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
						<th onclick="sortTable(4)">Price <i
							class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
						<th onclick="sortTable(5)">Language <i
							class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
						<th onclick="sortTable(6)">Average mark book <i
							class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
						<th onclick="sortTable(7)">Genre <i
							class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
						<th>Details</th>
					</tr>
				</thead>
				<tbody id="bookTable">
					<tr th:each="book: ${listOfBooks}">
						<td th:text="${book.isbn}">ISBN</td>
						<td><a th:href="@{'/book/' + ${book.id}}"
							th:text="${book.nameOfBook}">Name of book</a></td>
						<td th:text="${book.printingHouse}">Printing House</td>
						<td th:text="${book.author}">Author</td>
						<td th:text="${book.price}">Price</td>
						<td th:text="${book.language}">Language</td>
						<td th:text="${book.averageMarkBook}">Average mark book</td>
						<td><p th:each="genre: ${book.genres}"
								th:text="${genre.name}"></p></td>
						<td><a class="btn btn-light"
							th:href="@{'/book/' + ${book.id}}" role="button">Details</a> <a
							th:if="${session.currentUser != null and session.currentUser.getRole().equals(session.currentUser.ADMIN)}"
							class="btn btn-light" th:href="@{'/book/update/' + ${book.id}}"
							role="button">Update</a></td>
					</tr>
				</tbody>
			</table>
			<a
				th:if="${session.currentUser != null and session.currentUser.getRole().equals(session.currentUser.ADMIN)}"
				class="btn btn-light" th:href="@{/book/create}" role="button">Create
				new book</a>
		</div>
		<h3>Filter by minimum price</h3>
		<form th:action="@{/allBooks}" method="post"
			style="max-width: 600px; margin: 0 auto">
			<div class="form-group row">
				<label class="col-form-label col-4">Minimum price: </label> <input
					id="minPrice" type="number" name="minPrice" />
			</div>
			<div>
				<button type="submit" class="btn btn-primary">Find</button>
			</div>
		</form>
		<h3>Filter by maximum price</h3>
		<form th:action="@{/allBooksMax}" th:method="post"
			style="max-width: 600px; margin: 0 auto">
			<div class="form-group row">
				<label class="col-form-label col-4">Maximum price: </label> <input
					id="maxPrice" type="number" name="maxPrice" />
			</div>
			<div>
				<button type="submit" class="btn btn-primary">Find</button>
			</div>
		</form>
		<a class="btn btn-warning" th:href="@{/allBooks}" role="button" style="margin-top: 30px">Reset filters</a>
	</div>
	<div th:replace="fragments :: jscript"></div>
	<script th:src="@{/js/search.js}"></script>
	<script th:src="@{/js/sort.js}"></script>
</body>
</html>