<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<head>
<
<div th:replace="fragments :: header"></div>
<title>Book Details</title>
</head>
<body>
	<div th:insert="fragments :: navbar"></div>
	<div class="container text-center">
		<div class="alert alert-success alert-dismissible fade show"
			role="alert" th:if="${successMessage!=null}">
			<strong th:text="${successMessage}"></strong>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div>
			<h1 th:text="${book.nameOfBook}"></h1>
		</div>
		<div>
			<table class="table">
				<thead>
					<tr>
						<th>ISBN</th>
						<th>Name of book</th>
						<th>Printing House</th>
						<th>Author</th>
						<th>Year of publication</th>
						<th>Short description</th>
						<th>Price</th>
						<th>Number of pages</th>
						<th>Book cover</th>
						<th>Letter</th>
						<th>Language</th>
						<th>Average mark book</th>
						<th>Quantity</th>
						<th>Picture</th>
						<th>Details</th>
					</tr>
				</thead>
				<tbody id="bookTable">
					<tr>
						<td th:text="${book.id}" id="bookIdFromTable" hidden>id</td>
						<td th:text="${book.isbn}">ISBN</td>
						<td th:text="${book.nameOfBook}">Name of book</td>
						<td th:text="${book.printingHouse}">Printing House</td>
						<td th:text="${book.author}">Author</td>
						<td th:text="${book.yearOfPublication}">Year of publication</td>
						<td th:text="${book.shortDescription}">Short description</td>
						<td th:text="${book.price}" id="bookPrice">Price</td>
						<td th:text="${book.numberPages}">Number pages</td>
						<td th:text="${book.bookCover}">Book cover</td>
						<td th:text="${book.letter}">Letter</td>
						<td th:text="${book.language}">Language</td>
						<td th:text="${book.averageMarkBook}">Average mark book</td>
						<td th:text="${book.quantity}" id="bookQuantity">Quantity</td>
						<td><img alt="" th:src="*{'data:image/*;base64,'+{picture}}"
							style="width: 100px; height: 100px;"></td>
						<td>
							<p th:each="genre: ${book.genres}" th:text="${genre.name}"></p>
						</td>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="show-comments">
				<a role="button" class="btn btn-info"
					th:href="@{/book/comments/} + ${book.id}">Show comments</a>
			</div>
		</div>
		<div
			th:if="${session.currentUser != null and session.currentUser.getRole().equals(session.currentUser.BUYER)}">
			<form th:action="@{/addToShoppingCart}" method="post"
				style="max-width: 600px; margin: 0 auto" th:object="${shoppingCart}">
				<input id="bookId" type="text" name="bookId" hidden
					th:value="${shoppingCart.bookId}" th:field="*{bookId}" /> <input
					id="userId" type="text" th:value="${shoppingCart.userId}"
					name="userId" hidden th:field="*{userId}" /> <label
					for="shoppingCartQuantity">Quantity: </label> <input
					id="shoppingCartQuantity" type="number" value="1" min="1"
					th:field="*{quantity}" /> <label for="shoppingCartPrice">Price:
				</label> <input id="shoppingCartPrice" type="number" th:field="*{price}"
					readonly />
				<div>
					<button type="submit" class="btn btn-primary">Add to cart</button>
				</div>
			</form>
			<div class="wishlistForm">
				<form th:action="@{/wishlist}" method="post"
					style="max-width: 600px; margin: 0 auto" th:object="${wishlist}">
					<input id="wishlistBookId" type="text" name="book_id" hidden />
					<div>
						<button type="submit" class="btn btn-primary">Add to
							wishlist</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="fragments :: jscript"></div>
	<script>
		$(document).ready(function() {
			var bookId = $("#bookIdFromTable").text();
			var quantity = $("#bookQuantity").text();
			var price = $("#bookPrice").text();

			$("#shoppingCartQuantity").val(1).attr("max", quantity);
			$("#shoppingCartPrice").val(price);

			$("#shoppingCartQuantity").change(function() {
				var totalPrice = price * $("#shoppingCartQuantity").val();
				$("#shoppingCartPrice").val(totalPrice);
			});

			$("#wishlistBookId").val(bookId);
		});
	</script>
</body>
</html>