<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="fragments :: header"></div>
<title>Comments</title>
</head>
<div th:insert="fragments :: navbar"></div>
<body>
	<div class="container text-center">
		<div class="alert alert-success alert-dismissible fade show"
			role="alert" th:if="${successMessage!=null}">
			<strong th:text="${successMessage}"></strong>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="comments">
			<div>
				<h2 th:text="${book.nameOfBook} + ' - comments'"></h2>
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Date</th>
						<th>Author</th>
						<th>Comment</th>
						<th>Mark</th>
					</tr>
				</thead>
				<tbody id="commentTable">
					<tr th:each="entry, stats : ${mapOfComments}">
						<td th:text="${entry.key.dateOfComment}">Datum</td>
						<td th:text="${entry.value.username}">Autor</td>
						<td th:text="${entry.key.textComment}">Komentar</td>
						<td th:text="${entry.key.mark}">Ocena</td>
					</tr>
				</tbody>
			</table>
			<div class="show-comments">
				<a role="button" class="btn btn-info"
					th:href="@{/book/} + ${book.id}">Back to book details</a>
			</div>
		</div>
	</div>
	<div class="container text-center" th:if="${user.isPurchasedBook}">
		<p id="textUserId" th:text="${session.currentUser.getId()}" hidden></p>
		<p id="textBookId" th:text="${book.id}" hidden></p>
		<form th:action="@{/comments/add}" method="post"
			style="max-width: 600px; margin: 0 auto" th:object="${comment}">
			<input type="text" th:field="*{userId}" id="userId"
				value="${session.currentUser.getId()}" hidden /> <input
				th:field="*{bookId}" id="bookId" type="text" value="${book.id}"
				hidden />
			<div class="form-group">
				<label for="textComment">Write comment</label>
				<textarea class="form-control" th:field="*{textComment}" rows="3"></textarea>
			</div>
			<div class="form-group row">
				<label class="col-form-label col-4">Mark</label>
				<div class=col-8>
					<select th:field="*{mark}" class="form-control">
						<option value="5">5</option>
						<option value="4">4</option>
						<option value="3">3</option>
						<option value="2">2</option>
						<option value="1">1</option>
					</select>
				</div>
			</div>
			<div>
				<button type="submit" class="btn btn-primary">Send comment</button>
			</div>
		</form>
	</div>
	<div th:replace="fragments :: jscript"></div>
	<script>
		$(document).ready(function() {
			var $id = $("#textBookId").text();
			var $userId = $("#textUserId").text();

			$("#bookId").val($id);
			$("#userId").val($userId);

		});
	</script>
</body>
</html>