<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="fragments :: header"></div>
<title>Comments</title>
</head>
<div th:insert="fragments :: navbar"></div>
<body>
	<div class="container text-center"
		th:if="${session.currentUser != null and session.currentUser.getRole().equals(session.currentUser.ADMIN)}">
		<div>
			<h1>Comments on hold</h1>
		</div>

			<div>
				<table class="table table-striped table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Date of Comment</th>
							<th>Book Id</th>
							<th>Author</th>
							<th>Comment</th>
							<th>Mark</th>
							<th>Status of Comment</th>
							<th></th>
						</tr>
					</thead>
					<tbody id="commentTable">
						<tr th:each="entry, stats : ${mapOfComments}"
							th:with="comment=${entry.key}" class="redCard">
							<td class="comment-id" th:text="${comment.id}" hidden>Id</td>
							<td th:text="${comment.dateOfComment}">Date of Comment</td>
							<td th:text="${comment.bookId}">Book Id</td>
							<td th:text="${entry.value.username}">Author</td>
							<td th:text="${comment.textComment}">Text of comment</td>
							<td th:text="${comment.mark}">Mark</td>
							<td th:text="${comment.statusComment}" class="status-on-hold">Status of comment</td>
							<td class="send-request">
								<button class="btn btn-primary send-request" type="button"
									data-value="1">Approve</button>
								<button class="btn btn-danger send-request" type="button"
									data-value="2">Reject</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	<div th:replace="fragments :: jscript"></div>
	<script>
	$(document).ready(function () {
		$("#search").on("keyup", function () {
			var value = $(this).val().toLowerCase();
			$("#commentTable tr").filter(function () {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
				});
		});
		
		$('.send-request').on('click', function (e) {
			e.preventDefault();
			e.stopPropagation();
			var commentStatusTableRow = $(this).closest("tr").find(".status-on-hold");
			var approveRequestTableRow = $(this).closest("tr").find(".send-request");
			var commentId = $(this).closest("tr").find(".comment-id").text();
			var statusComment = $(this).data("value");
		     $.ajax({
		      
		            url: `/admin/commentStatus?commentId=${commentId}&statusComment=${statusComment}&method=get`,
		             type: 'GET',
					dataType: 'json',
				contentType:'application/json',
				complete: function(statusComment){
				window.location.reload();
	            	},
		          
		        });
		    }); 
	});
	</script>
</body>
</html>