<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="fragments :: header"></div>
<title>Error page</title>
<link th:href="@{/css/error.css}" rel="stylesheet">
</head>
<div th:insert="fragments :: navbar"></div>
<body>
	<div class="container body-error">
		<div class="row text-center">
			<div
				class="col-lg-6 offset-lg-3 col-sm-6 offset-sm-3 col-12 p-3 error-main">
				<div class="row">
					<div class="col-lg-8 col-12 col-sm-10 offset-lg-2 offset-sm-1">
						<h1 class="m-0">404</h1>
						<h6>Page not found</h6>
						<p>Sorry, we couldn't find the page were looking for. Try to get to
							the page using the navigation menu</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments :: jscript"></div>
	<script th:src="@{/js/search.js}"></script>
	<script th:src="@{/js/sort.js}"></script>
</body>
</html>