<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<th:block th:fragment="header">
	<meta charset="UTF-8">
	<link th:rel="stylesheet"
		th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} " />
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
		crossorigin="anonymous">
	<link th:rel="stylesheet" th:href="@{/css/main.css} " />
	
</th:block>
<title>Fragment</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light"
		th:fragment="navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/}">Bookstore</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="nav-item active"><a th:href="@{/allBooks}">Books
				</a></li>
					<li class="nav-item"><a
					th:href="@{/admin/allUsers}" th:if="${session.currentUser != null and session.currentUser.getRole().equals(session.currentUser.ADMIN)}">All Users</a></li>
					<li class="nav-item"><a
					th:href="@{/admin/loyalty}" th:if="${session.currentUser != null and session.currentUser.getRole().equals(session.currentUser.ADMIN)}">Loyalty Cards</a></li>
					<li class="nav-item"><a
					th:href="@{/admin/comments}" th:if="${session.currentUser != null and session.currentUser.getRole().equals(session.currentUser.ADMIN)}">Comments</a></li>
					<li class="nav-item"><a
					th:href="@{/admin/purchases}" th:if="${session.currentUser != null and session.currentUser.getRole().equals(session.currentUser.ADMIN)}">Purchases</a></li>
					<li class="nav-item"><a
					th:href="@{/users/profile}" th:if="${session.currentUser != null and session.currentUser.getRole().equals(session.currentUser.BUYER)}">Profile</a></li>
					<li class="nav-item"><a
					th:href="@{/shoppingCart}" th:if="${session.currentUser != null and session.currentUser.getRole().equals(session.currentUser.BUYER)}">Shopping cart</a></li>
					<li class="nav-item"><a
					th:href="@{/wishlist}" th:if="${session.currentUser != null and session.currentUser.getRole().equals(session.currentUser.BUYER)}">Wishlist</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-item"><a
					th:href="@{/login}" th:if="${session.currentUser == null}">Login</a></li>
				<li class="nav-item" th:if="${session.currentUser == null}"><a
					th:href="@{/registration}">Register</a></li>
				<li class="nav-item"><a
					th:href="@{/logout}" th:if="${session.currentUser != null}">Logout</a></li>
			</ul>
		</div>
	</nav>
	<th:block th:fragment="jscript">
		<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	</th:block>
</body>
</html>