<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<div th:insert="fragments :: header"></div>
<title>All users</title>
<link href="css/login.css" rel="stylesheet">
</head>
<body>
	<div th:insert="fragments :: navbar"></div>
	<form th:action="@{/login}" method="post"
		style="border: 1px solid #ccc">
		<div class="container">
			<h1>Login</h1>
			<p>Please fill in this form to login.</p>
			<hr>

			<label for="username"><b>Username</b></label> <input type="text"
				placeholder="Enter Username" name="username" required> <label
				for="psw"><b>Password</b></label> <input type="password"
				placeholder="Enter Password" name="password" required>

			<div class="clearfix">
				<button id="#registerButton" type="button" class="cancelbtn"
					onclick="register()">Register</button>
				<button type="submit" class="signupbtn" href=>Login</button>
			</div>
		</div>
	</form>
	<div class="alert alert-warning">
		<p class="text-center">
			<strong th:text="${message}"></strong>
		</p>
	</div>
	<div th:insert="fragments :: jscript"></div>
	<script>
		function register() {
			window.location.href = '/registration';
		}
	</script>
</body>
</html>