<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="fragments :: header"></div>
<title>Loyalty cards</title>
</head>
<div th:insert="fragments :: navbar"></div>
<body>
	<div class="container text-center"
		th:if="${session.currentUser != null and session.currentUser.getRole().equals(session.currentUser.ADMIN)}">
		<div>
			<h1>Loyalty cards</h1>
		</div>
		<div th:if="${mapOfCards!=null and !mapOfCards.empty}">
			<div>
				<input id="search" type="text" placeholder="Search...">
				<br> <br>
			</div>
			<div class="sortCardButtons">
				<button class="btn btn-primary" id="showAllCards" type="button">Show all cards</button>
				<button class="btn btn-success" id="showApprovedCards"
					type="button">Show approved cards</button>
				<button class="btn btn-warning" type="button"
					id="showCardRequests">Show card requests</button>
				<button class="btn btn-danger" type="button"
					id="showRejectedCards">Show rejected cards</button>
			</div>

			<div>
				<table class="table table-striped table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Id</th>
							<th>Points</th>
							<th>Buyer</th>
							<th>Buyer's email</th>
							<th>Status of card</th>
						</tr>
					</thead>
					<tbody id="loyaltyCardTable">
						<tr th:each="entry, stats : ${mapOfCards}"
							th:with="card=${entry.value}" class="redCard">
							<td class="card-id" th:text="${card.id}">Id</td>
							<td th:text="${card.points}">Points</td>
							<td th:text="${entry.key.firstname} + ' ' + ${entry.key.lastname}">Buyer</td>
							<td th:text="${entry.key.email}">Buyer's email</td>
							<td th:text="${card.statusCard}"
								th:classappend="|${card.statusCard.equals('hold') ? 'status-on-hold' : ' '} ${card.statusCard.equals('rejected') ? 'status-rejected' : ' '} ${card.statusCard.equals('approved') ? 'status-approved' : ' '}|">Status
								of card</td>
							<td
								th:if="${card.statusCard.equals('hold')}"
								class="check-request">
								<button class="btn btn-primary send-request" type="button"
									data-value="1">Approve</button>
								<button class="btn btn-danger send-request" type="button"
									data-value="2">Reject</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div th:replace="fragments :: jscript"></div>
	<script>
	$(document).ready(function () {
		$("#search").on("keyup", function () {
			var value = $(this).val().toLowerCase();
			$("#loyaltyCardTable tr").filter(function () {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
				});
		});
		
		$('.send-request').on('click', function (e) {
			e.preventDefault();
			e.stopPropagation();
			var loyaltyStatusTableRow = $(this).closest("tr").find(".status-on-hold");
			var approveRequestTableRow = $(this).closest("tr").find(".check-request");
			var loyaltyId = $(this).closest("tr").find(".card-id").text();
			var statusCard = $(this).data("value");
		     $.ajax({
		      
		            url: `/admin/loyaltyStatus?loyaltyId=${loyaltyId}&statusCard=${statusCard}`,
		             type: 'GET',
					dataType: 'json',
				contentType:'application/json',
				complete: function(statusCard){
				window.location.reload();
	            	},
		          
		        });
		    }); 
	});
	</script>
	<script>
		$(document).ready(
				function() {
					var approvedCards = $("#loyaltyCardTable").find(
							".status-approved").parent();
					var cardRequests = $("#loyaltyCardTable").find(
							".status-on-hold").parent();
					var rejectedCards = $("#loyaltyCardTable").find(
							".status-rejected").parent();

					$('#showAllCards').on('click', function(e) {
						approvedCards.show();
						cardRequests.show();
						rejectedCards.show();
					});
					$('#showApprovedCards').on('click', function(e) {
						approvedCards.show();
						cardRequests.hide();
						rejectedCards.hide();
					});
					$('#showRejectedCards').on('click', function(e) {
						approvedCards.hide();
						cardRequests.hide();
						rejectedCards.show();
					});
					$('#showCardRequests').on('click', function(e) {
						approvedCards.hide();
						cardRequests.show();
						rejectedCards.hide();
					});
				});
	</script>
</body>
</html>