<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:insert="fragments :: header"></div>
<title>Registration</title>
</head>
<body>
	<div th:insert="fragments :: navbar"></div>
	<div class="container text-center">
		<div>
			<h1>Registration form</h1>
		</div>
		<form th:action="@{/registration}" method="post"
			style="max-width: 600px; margin: 0 auto" th:object="${user}">
			<div class="m-3">
				<div class="form-group row">
					<label class="col-form-label col-4">Username</label>
					<div class=col-8>
						<input type="text" class="form-control" th:field="*{username}"
							required />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">Password</label>
					<div class=col-8>
						<input type="password" class="form-control" th:field="*{password}"
							required />
					</div>
				</div>
			</div>
			<div class="m-3">
				<div class="form-group row">
					<label class="col-form-label col-4">Email</label>
					<div class=col-8>
						<input type="email" class="form-control" th:field="*{email}"
							required minlenght="6" maxlenght="10" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">Firstname</label>
					<div class=col-8>
						<input type="text" class="form-control" th:field="*{firstname}"
							required minlenght="2" maxlenght="20" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">Lastname</label>
					<div class=col-8>
						<input type="text" class="form-control" th:field="*{lastname}"
							required minlenght="2" maxlenght="20" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">Address</label>
					<div class=col-8>
						<input type="text" class="form-control" th:field="*{address}"
							required />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">Telephone number</label>
					<div class=col-8>
						<input type="text" class="form-control"
							th:field="*{telephoneNumber}" required />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-form-label col-4">Send request for loyalty card</label>
					<div class=col-8>
						<input type="checkbox" class="form-control" name="loyaltyCard" />
					</div>
				</div>
				<div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
		<div class="alert alert-warning">
			<p class="text-center">
				<strong th:text="${message}"></strong>
			</p>
		</div>
	</div>
	<div th:replace="fragments :: jscript"></div>
</body>
</html>