<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="fragments :: header"></div>
<title>Shopping Cart</title>
</head>
<body>
	<div th:insert="fragments :: navbar"></div>
	<div class="container text-center">
		<div class="alert alert-success alert-dismissible fade show"
			role="alert" th:if="${successMessage!=null}">
			<strong th:text="${successMessage}"></strong>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div
			th:if="${session.currentUser != null and session.currentUser.getRole().equals(session.currentUser.BUYER)}">
			<h1>Shopping cart</h1>
		</div>
		<div th:if="${shoppingCarts!=null and !shoppingCarts.empty}">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1"><i
						class="fa fa-search"></i></span>
				</div>
				<input id="search" type="text" class="form-control"
					placeholder="Search..." aria-label="Search"
					aria-describedby="basic-addon1">
			</div>

			<div>
				<table class="table" id="tableSort">
					<thead>
						<tr>
							<th onclick="sortTable(0)">ISBN <i
								class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
							<th onclick="sortTable(1)">Name of book <i
								class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
							<th onclick="sortTable(2)">Author <i
								class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
							<th onclick="sortTable(3)">Price <i
								class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
							<th onclick="sortTable(4)">Quantity <i
								class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
							<th>Details</th>
						</tr>
					</thead>
					<tbody id="bookTable">
						<tr th:each="entry, stats : ${shoppingCarts}"
							th:with="shoppingCart=${entry.key}">
							<td th:text="${shoppingCart.userId}" hidden class="userId">UserId</td>
							<td th:text="${shoppingCart.bookId}" hidden class="bookId">UserId</td>
							<td th:text="${entry.value.isbn}">ISBN</td>
							<td><a th:href="@{'/book/' + ${entry.value.id}}"
								th:text="${entry.value.nameOfBook}">Name of book</a></td>
							<td th:text="${entry.value.author}">Author</td>
							<td th:text="${shoppingCart.price}">Price</td>
							<td th:text="${shoppingCart.quantity}">Quantity</td>
							<td><a class="btn btn-default"
								th:href="@{'/book/' + ${entry.value.id}}" role="button">Details</a>
								<button class="btn btn-danger btnDelete" type="button">Delete</button></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>Total price</td>
							<td th:text="${totalPrice}" id="totalPrice">Total price</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
				<form th:action="@{/purchasedBook}" method="post"
					style="max-width: 600px; margin: 0 auto">
					<input id="shoppingCardUserId" type="text"
						th:value="${session.currentUser.getId()}" name="user_id" hidden />
					<div class="form-group row"
						th:if="${session.currentUser.isHasLoyaltyCard()}">
						<label class="col-form-label col-4"
							th:text="'Loyalty card points: ' + ${loyalty.points}"></label>
						<div class=col-8>
							<select name="points" id="points" class="form-control">
								<option value="0" id="discount">-- choose discount --</option>
								<option th:each="entry, stats : ${mapDiscount}"
									th:value="${entry.value}" th:text="${entry.key}"></option>
							</select>
						</div>
					</div>
					<div>
						<button type="submit" class="btn btn-success">Buy</button>
					</div>
				</form>
			</div>
		</div>
		<div th:if="${shoppingCarts==null}">
			<h3>Your shopping cart is empty</h3>
		</div>
	</div>
	<div th:replace="fragments :: jscript"></div>
	<script th:src="@{/js/search.js}"></script>
	<script>
		$(".btnDelete").on("click", function(e) {
			var tableRow = $(this).closest("tr");
			var userId = $(this).closest("tr").find(".userId").text();
			var bookId = $(this).closest("tr").find(".bookId").text();

			$.ajax({
				url : `/shoppingCart/delete?userId=${userId}&bookId=${bookId}`,
				type : 'GET',
				dataType : 'json',
				contentType : 'application/json',
				complete : function(data) {
					tableRow.remove();
					window.location.href = "shoppingCart";
				}
			});
		});
	</script>
	<script>
		$(document).ready(function() {
			var $totalPrice = $("#totalPrice").html();
			var $regularPrice = $totalPrice;
			$("#points").on('change', function() {
				$discount = $(this).val()*5;
				if ($discount>0) {
					$totalPrice = $totalPrice - ($totalPrice * $discount) / 100
				} else {
					$totalPrice = $regularPrice;
				}
				$("#totalPrice").text($totalPrice);
				});
			});
	</script>
</body>
</html>