<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="fragments :: header"></div>
<title>Show purchases of user</title>
</head>
<div th:insert="fragments :: navbar"></div>
<body>
	<div class="container text-center"
		th:if="${session.currentUser != null and session.currentUser.getRole().equals(session.currentUser.ADMIN)}">
		<div class="container text-center">
			<div>
				<h1>List of purchases</h1>
				<h1 th:if="${start!=null}"
					th:text="'in period of ' + ${start} + ' to ' + ${end}"></h1>
			</div>
			<form th:action="@{/admin/purchases}" method="post"
				style="max-width: 600px; margin: 0 auto">
				<input id="startDate" type="date" th:value="${start}"
					name="startDate" /> <input id="endDate" type="date"
					th:value="${end}" name="endDate" />
				<div>
					<button type="submit" class="btn btn-primary">Search by date</button>
				</div>
			</form>

			<div>
				<table class="table table-striped table-bordered" id="tableSort">
					<thead class="thead-dark">
						<tr>
							<th>Name of book</th>
							<th>Author</th>
							<th onclick="sortTable(2)">Total price <i
								class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
							<th onclick="sortTable(3)">Number of purchased books <i
								class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="purchase: ${purchasedBooks}">
							<td><a th:href="@{'/book/' + ${purchase.book.id}}"
								th:text="${purchase.book.nameOfBook}">Name of book</a></td>
							<td th:text="${purchase.book.author}">Author</td>
							<td th:text="${purchase.totalPrice}">Total price</td>
							<td th:text="${purchase.totalQuantity}">Total quantity</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td th:text="${totalPriceOfBooks}">Total price of books</td>
							<td th:text="${totalQuantityOfBooks}">Total quantity of purchased books</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
	<div th:replace="fragments :: jscript"></div>
	<script th:src="@{/js/sort.js}"></script>
</body>
</html>