<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="fragments :: header"></div>
<title>Show books of purchase</title>
</head>
<div th:insert="fragments :: navbar"></div>
<body>
	<div class="container text-center"
		th:if="${session.currentUser != null and session.currentUser.getRole().equals(session.currentUser.ADMIN) or session.currentUser != null and session.currentUser.getId().equals(userId)}">
		<div class="container text-center">
			<div>
				<h1
					th:text="${purchase.user.email} + ' ' + ${purchase.timeOfPurchase}"></h1>
			</div>
			<div>
				<table class="table table-striped table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Name of Book</th>
							<th>Author</th>
							<th>Total price</th>
							<th>Total quantity</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="purchase: ${purchasedBooks}">
							<td><a th:href="@{'/book/' + ${purchase.book.id}}"
								th:text="${purchase.book.nameOfBook}">Name of Book</a></td>
							<td th:text="${purchase.book.author}">Author</td>
							<td th:text="${purchase.totalPrice}">Total price</td>
							<td th:text="${purchase.totalQuantity}">Total quantity</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td th:text="${totalPriceOfBook}">total price of book</td>
							<td th:text="${totalQuantityOfBooks}">Total quantity of
								books</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
	<div th:replace="fragments :: jscript"></div>
</body>
</html>