<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="fragments :: header"></div>
<title>Show purchases of user</title>
</head>
<div th:insert="fragments :: navbar"></div>
<body>
	<div class="container text-center"
		th:if="${session.currentUser != null and session.currentUser.getRole().equals(session.currentUser.ADMIN) or session.currentUser != null and session.currentUser.getId().equals(userId)}">
		<div class="container text-center">
			<div>
				<h1>Purchases</h1>
			</div>
			<div>
				<table class="table table-striped table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Date and time of purchase</th>
							<th>Total price</th>
							<th>Total books quantity</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="purchase: ${purchases}">
							<td><a
								th:href="@{'/admin/purchase/' + ${purchase.purchaseId}}"
								th:text="${purchase.timeOfPurchase}">Date and time of
									purchase</a></td>
							<td th:text="${purchase.totalPriceOfPurchase}">Total price</td>
							<td th:text="${purchase.numberOfPurchasedBooks}">Total books
								quantity</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div th:replace="fragments :: jscript"></div>
</body>
</html>