<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="fragments :: header"></div>
<title>User profile</title>
</head>
<div th:insert="fragments :: navbar"></div>
<body>
	<div class="container text-center"
		th:if="${session.currentUser != null and session.currentUser.getRole().equals(session.currentUser.BUYER)}">
		<div class="container text-center">
			<div class="alert alert-success alert-dismissible fade show"
				role="alert" th:if="${successMessage!=null}">
				<strong th:text="${successMessage}"></strong>
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div>
				<h1 th:text="${user.firstname} + ' ' + ${user.lastname}"></h1>
			</div>
			<div>
				<form method="get" style="max-width: 600px; margin: 0 auto"
					th:object="${user}">
					<input type="number" class="form-control" th:field="*{id}" required
						readonly hidden />
					<div class="m-3">
						<div class="form-group row">
							<label class="col-form-label col-4">Username</label>
							<div class=col-8>
								<input type="text" class="form-control" th:field="*{username}"
									required readonly />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-4">E-mail</label>
							<div class=col-8>
								<input type="email" class="form-control" th:field="*{email}"
									required readonly />
							</div>
						</div>
					</div>
					<div class="m-3">
						<div class="form-group row">
							<label class="col-form-label col-4">Firstname</label>
							<div class=col-8>
								<input type="text" class="form-control" th:field="*{firstname}"
									required minlenght="2" maxlenght="20" readonly />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-4">Lastname</label>
							<div class=col-8>
								<input type="text" class="form-control" th:field="*{lastname}"
									required minlenght="2" maxlenght="20" readonly />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-4">Address</label>
							<div class=col-8>
								<input type="text" class="form-control" th:field="*{address}"
									required readonly />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-4">Telephone number</label>
							<div class=col-8>
								<input type="text" class="form-control"
									th:field="*{telephoneNumber}" required readonly />
							</div>
						</div>
						<div>
							<a role="button" th:href="@{/users/profile/update}"
								class="btn btn-primary">Update</a>
						</div>
					</div>
					<div>
						<a role="btn" class="btn btn-info"
							th:href="@{'/users/showPurchases/'+ ${user.id}}">Show
							purchases</a>
					</div>
				</form>
			</div>
		</div>
		<div th:replace="fragments :: jscript"></div>
</body>
</html>