<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="fragments :: header"></div>
<title>User profile</title>
</head>
<div th:insert="fragments :: navbar"></div>
<body>
	<div class="container text-center"
		th:if="${session.currentUser != null and session.currentUser.getRole().equals(session.currentUser.ADMIN)}">
		<div class="container text-center">
			<div class="alert alert-danger alert-dismissible fade show"
				role="alert" th:if="${errorMessage!=null}">
				<strong th:text="${errorMessage}"></strong>
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div>
				<h1 th:text="${user.firstname} + ' ' + ${user.lastname}"></h1>
			</div>
			<div>
				<form th:action="@{/admin/allUsers/profile/update}" th:method="post"
					style="max-width: 600px; margin: 0 auto" th:object="${user}">
					<input type="number" class="form-control" th:field="*{id}" required
						readonly hidden />
					<div class="m-3">
						<div class="form-group row">
							<label class="col-form-label col-4">Username</label>
							<div class=col-8>
								<input type="text" class="form-control" th:field="*{username}"
									required readonly />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-4">E-mail</label>
							<div class=col-8>
								<input type="email" class="form-control" th:field="*{email}"
									required readonly />
							</div>
						</div>
					</div>
					<div class="m-3">
						<div class="form-group row">
							<label class="col-form-label col-4">Firstname</label>
							<div class=col-8>
								<input type="text" class="form-control" th:field="*{firstname}"
									required minlenght="2" maxlenght="20" readonly />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-4">Lastname</label>
							<div class=col-8>
								<input type="text" class="form-control" th:field="*{lastname}"
									required minlenght="2" maxlenght="20" readonly />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-4">Address</label>
							<div class=col-8>
								<input type="text" class="form-control" th:field="*{address}"
									required readonly />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-4">Telephone number</label>
							<div class=col-8>
								<input type="text" class="form-control"
									th:field="*{telephoneNumber}" required readonly />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-4">Role</label>
							<div class=col-8>
								<select name="role" id="role" class="form-control"
									th:field="*{role}">
									<option th:each="role : ${user.getAllRoles()}"
										th:value="${role}" th:text="${role}"></option>
								</select>
							</div>
						</div>
						<div>
							<button type="submit" class="btn btn-primary">Update</button>
						</div>
					</div>
				</form>
			</div>
			<div>
				<a role="btn" class="btn btn-info"
					th:href="@{'/admin/showPurchase/'+ ${user.id}}">Purchase views</a>
			</div>
		</div>
	</div>
	<div th:replace="fragments :: jscript"></div>
</body>
</html>