<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:insert="fragments :: header"></div>
<title>All users</title>
</head>
<body>
	<div th:insert="fragments :: navbar"></div>
	<div class="container text-center">
	<div class="alert alert-success alert-dismissible fade show"
				role="alert" th:if="${successMessage!=null}">
				<strong th:text="${successMessage}"></strong>
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		<div></div>
		<div>
			<h1>All Users</h1>
		</div>
		<div>
			<table class="table">
				<thead>
					<tr>
						<th>User ID</th>
						<th>Username</th>
						<th>Email</th>
						<th>Firstname</th>
						<th>Lastname</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user: ${allUsers}">
						<td th:text="${user.id}">User ID</td>
						<td><a th:href="@{'/admin/allUsers/profile/' + ${user.id}}" th:text="${user.username}">Username</a></td>
						<td th:text="${user.email}">Email</td>
						<td th:text="${user.firstname}">Firstname</td>
						<td th:text="${user.lastname}">Lastname</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div th:replace="fragments :: jscript"></div>
</body>
</html>