<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="fragments :: header"></div>
<title>Update user profile</title>
</head>
<div th:insert="fragments :: navbar"></div>
<body>
	<div class="container text-center"
		th:if="${session.currentUser != null and session.currentUser.getRole().equals(session.currentUser.BUYER)}">
		<div class="container text-center">
			<div>
				<h1 th:text="${user.firstname} + ' ' + ${user.lastname}"></h1>
			</div>
			<div>
				<form th:action="@{/users/profile/update}" th:method="post"
					style="max-width: 600px; margin: 0 auto" th:object="${user}">
					<input type="number" class="form-control" th:field="*{id}" required
						readonly hidden />
					<div class="m-3">
						<div class="form-group row">
							<label class="col-form-label col-4">Username</label>
							<div class=col-8>
								<input type="text" class="form-control" th:field="*{username}"
									required readonly />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-4">E-mail</label>
							<div class=col-8>
								<input type="email" class="form-control" th:field="*{email}"
									required />
							</div>
						</div>
					</div>
					<div class="m-3">
						<div class="form-group row">
							<label class="col-form-label col-4">Firstname</label>
							<div class=col-8>
								<input type="text" class="form-control" th:field="*{firstname}"
									required minlenght="2" maxlenght="20" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-4">Lastname</label>
							<div class=col-8>
								<input type="text" class="form-control" th:field="*{lastname}"
									required minlenght="2" maxlenght="20" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-4">Address</label>
							<div class=col-8>
								<input type="text" class="form-control" th:field="*{address}"
									required />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-4">Telephone number</label>
							<div class=col-8>
								<input type="text" class="form-control"
									th:field="*{telephoneNumber}" required />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-4">Role</label>
							<div class=col-8>
								<input type="text" class="form-control" th:field="*{role}"
									required readonly />
							</div>
						</div>
						<div
							th:if="${session.currentUser.getRole().equals(session.currentUser.BUYER)}">
							<div th:if="${user.isHasLoyaltyCard()!=true}">
								<div class="form-group row"
									th:if="${user.isLoyaltyCardOnHold()!=true}">
									<label class="col-form-label col-4">Send loyalty card
										request</label>
									<div class=col-8>
										<input type="checkbox" class="form-control" name="loyaltyCard" />
									</div>
								</div>
							</div>
						</div>
						<div>
							<button type="submit" class="btn btn-primary">Update</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div th:replace="fragments :: jscript"></div>
</body>
</html>