<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="fragments :: header"></div>
<title>Wishlist</title>
</head>
<div th:insert="fragments :: navbar"></div>
<body>
	<div class="container text-center">
		<div class="alert alert-success alert-dismissible fade show"
			role="alert" th:if="${successMessage!=null}">
			<strong th:text="${successMessage}"></strong>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="container text-center"
			th:if="${session.currentUser != null and session.currentUser.getRole().equals(session.currentUser.BUYER)}">
			<h1>Wishlist</h1>
		</div>
		<div th:if="${wishlist!=null and !wishlist.empty}">
			<div>
				<input id="search" type="text" placeholder="Search..."> <br>
				<br>
			</div>

			<div>
				<table
					class="table table-striped table-bordered table-show-book">
					<thead class="thead-dark">
						<tr>
							<th>ISBN</th>
							<th>Name of Book</th>
							<th>Printing house</th>
							<th>Author</th>
							<th>Year of publication</th>
							<th>Price</th>
							<th>Average Mark of book</th>
							<th>Quantity</th>
							<th></th>
						</tr>
					</thead>
					<tbody id="bookTable">
						<tr th:each="wish: ${wishlist}">
						<td th:text="${wish.book.id}" class="bookId" hidden>id</td>
							<td th:text="${wish.user.id}" class="userId" hidden>Id</td>
							<td th:text="${wish.book.isbn}" class="bookIsbn">ISBN</td>
							<td><a th:href="@{'/book/' + ${wish.book.id}}"
								th:text="${wish.book.nameOfBook}">Name of book</td>
							<td th:text="${wish.book.printingHouse}">Printing house</td>
							<td th:text="${wish.book.author}">Author</td>
							<td th:text="${wish.book.yearOfPublication}">Year of publication</td>
							<td th:text="${wish.book.price}" class="price">Price</td>
							<td th:text="${wish.book.averageMarkBook}">Average Mark of book</td>
							<td th:text="${wish.book.quantity}">Quantity</td>
							<td><button class="btn btn-danger btn-delete-wishlist"
									type="button">Delete</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div th:if="${wishlist.empty}">
			<p>Your wishlist is empty</p>
		</div>
	</div>

	<div th:replace="fragments :: jscript"></div>
	<script th:src="@{/js/sort.js}"></script>
	<script th:src="@{/js/search.js}"></script>
	<script>
		$(".btn-delete-wishlist").on("click", function(e) {
			var tableRow = $(this).closest("tr");
			var userId = $(this).closest("tr").find(".userId").text();
			var bookId = $(this).closest("tr").find(".bookId").text();

			$.ajax({
				url : `/wishlist/delete?userId=${userId}&bookId=${bookId}`,
				type : 'GET',
				dataType : 'json',
				contentType : 'application/json',
				complete : function(data) {
					tableRow.remove();
				}
			});
		});
	</script>
</body>
</html>